@media (min-width: 1000px) {
    
    main {
        width: 100rem;
    }

    .inactive {
        display: none;
    }

    /*nav bar*/

    .header-class{
        width: 100rem;
    }

    .navbar {
        width: 74rem;
        margin-left: 2rem;
    }

    .category {
        width: 14.8rem;
    }

    .category:hover {
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border: 0.2rem dotted var(--color-4);
        border-bottom: 0;
    }

    .general-content {
        display: flex;
        flex-direction: row;
        height: 60rem;
    }

    /*Side bar left*/

    .sidebar-left {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    /*Curiosity*/

    .curiosity {
        width: 24rem;
        height: 24rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
    }

    /*resumen curricular*/


    .curriculum {
        width: 24rem;
        height: 34rem;
        border-radius: 2rem;
        margin-left: 0;
    }

    .abstract-curriculum {
        display: flex;
        flex-direction: column;
    }

    .image-profile{
        height: 20rem;
        width: 24rem;

    }

    .image-profile img{
        height: 17rem;
        width: 17rem;
    }

    /*Main Content*/

    .container-body {
        width: 74rem;
        height: 60rem;
        margin-left: 2rem;
        border-radius: 2rem;
        order: 2;
        padding: 2rem;
    }

   

    /* contenido home*/

     .section-home {
        width: 70rem;
    }

    .entrada-content, .port-content-home {
        width: 70rem;
        overflow-x: auto;
        overflow-y: auto;
        width: 70rem;
    }



    /*seccion portafolio*/
    
    .section-portafolio {
        display: grid;
        place-items: center;
        width: 70rem;
    }

    .portafolio {
        width: 70rem;
        }
    
    .port-content {
        width: 64rem;

        overflow-x: auto;
        overflow-y: auto;
        width: 64rem;
    }

        /*section-aboutme*/

    .section-aboutme {
        width: 70rem;
        
    }

    /*section-detail-portafolio*/

    .contenido-modal {
        width: 90rem;
        height: 70rem;
    }

    .album-images {
        width: 84rem;
        height: 47.5rem;
    }

    .text-detail {
        width: 84rem;
    }

    .text-detail p:nth-child(4) {
        overflow-x: auto;
        overflow-y: auto;
        height: 12rem;
    }

    /*secion juego*/

    .game-title {
        display: flex;
        justify-content: center;
        font-size: var(--lg);
        font-weight: 700;
        color: var(--color-4);
        margin-bottom: 2rem;
    }

    .cards {
        width: 66rem;
        height: 35rem;
    }

    .card {
        width: 20rem;
        height: 35rem;
        display: flex;
        align-items: end;
    }

    .card img {
        height: 19rem;
        width: 19rem;
        margin-bottom: 1rem;
    }

    .card:hover {
        width: 20rem;
        height: 35rem;
    }

    .vidas p:nth-child(1) {
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 3rem;
    }
    
    .vidas p:nth-child(2) {
        font-size: var(--md);
        font-weight: 500;
        margin-bottom: 2rem;
    }


    .reiniciar {
        position: absolute;
        bottom: 4rem;
        font-weight: 700;
        font-size: var(--lg);
        border-radius: 1rem;
        height: 4rem;
        margin-top: 2rem;
    }



    }











