/*CONFIGURACIONES GENERALES*/

:root{
    --color-1: #dcdcdc;
    --color-2: #C8DAD3;
    --color-3: #93B5B3;
    --color-4: #63707E;
    --color-5: #7a7a7a;
    --white: #ffffff;
    --black: #000000;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: url("/assets/background.png");
}

::-webkit-scrollbar {
    height: 0.8rem;
    width: 1rem;
}

::-webkit-scrollbar-button {
    display: none;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--white) ;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: var(--color-3);
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35rem;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-4);
}

a:visited {
    text-decoration: none;
    color: var(--color-4);
}

.inactive {
    display: none !important;
}

/*nav bar*/

.header-class{
    display: flex;
    align-items: center;
    width: 35rem;
    height: 10rem;
    border-radius: 1rem;
    background-color: var(--white);
    margin-bottom: 1rem;
}

.logo-header{
    display: flex;
    justify-content: center;
    width: 35rem;
}

.logo-header img {
    width: 23rem;
}

.navbar {
    display: none;
}

.general-content {
    display: flex;
    flex-direction: column;
}

.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 4rem;
    margin-bottom: 1rem;
    background-color: var(--white);
    text-decoration: none;
    list-style: none;
    border-radius: 1rem;
}

.menu-mobile li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 10rem;
    text-align: center;
    color: var(--color-4);
    font-size: var(--sm);
    margin: 0.2rem;
}

.menu-mobile li:hover {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--color-1);
    border: 0.1rem dotted var(--color-4);
    border-bottom: 0;
}



/*Side bar left*/

.sidebar-left {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    order: 1;
}




/*Curiosity*/

.curiosity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 12rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-2);
    color: var(--color-4);
    border: dotted 0.2rem var(--color-4);
}

.curiosity p:nth-child(1) {
    font-size: var(--lg);
    font-weight: 700;
    margin: 1rem 0;
    
}

.curiosity p:nth-child(2) {
    font-size: var(--md);
    margin: 1rem;
    text-align: center;
    
}




/*resumen curricular*/

.curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem;
    height: 21rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.abstract-curriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.image-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 15rem;

}

.image-profile img{
    height: 15rem;
    width: 15rem;
    object-fit: fill;
}

.text {
    width: 18rem;
}

.text p {
    font-size: var(--md);
    color: var(--color-4);
    font-weight: 300;
    text-align: center;
}

.text p:nth-child(2) {
    font-weight: 700;
}

.icons-net {
    display: flex;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 0.2rem dotted var(--color-4);
}

.icons-net a{
    text-decoration: none;
}

.icons {
    height: 3rem;
    width: 3rem;
}



/*Main Content*/

.container-body {
    width: 35rem;
    height: auto;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem;
    font-size: var(--md);
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--color-4);
    font-size: var(--lg);
    font-weight: 800;
    margin: 0.5rem 0;
}

h4 {
    color: var(--color-4);
    font-size: var(--lg);
    font-weight: 700;
    margin-top: 1rem;
}

.title-vertical {
    font-size: var(--md);
    color: var(--color-4);
    font-weight: 700;
    writing-mode: vertical-lr;
    background-color: var(--color-1);
    width: 5rem;
    height: 18rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-right: 1rem;
}


/* contenido home*/

.section-home {
    display: flex;
    flex-direction: column;
    width: 33rem;
}


.entradas, .portafolio-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}


.entrada-content, .port-content-home {
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    margin-left: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    width: 25rem;
}


.entrada-card, .project-card-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16.5rem;
    width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid var(--color-1);
    border-radius: 1rem;
}


.project-card-home img {
    width: 20rem;
    height: 11.5rem;
    object-fit: fill;
    border-radius: 1rem;
}




/*seccion portafolio*/

.section-portafolio {
    display: flex;
    flex-direction: column;
    width: 33rem;
}

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33rem;
}

.port-academico, .port-profesional, .port-docente {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.port-content {
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    margin-left: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    width: 25rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16.5rem;
    width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid var(--color-1);
    border-radius: 1rem;
}

.project-card:hover {
    border: 0.2rem dotted var(--color-4);
    border-radius: 1rem;
}

.project-card img {
    width: 20rem;
    height: 11.5rem;
    object-fit: fill;
    border-radius: 1rem;
}

.text-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    color: var(--color-5);
    font-size: var(--sm);
    font-weight: 300;
}

.text-container p:nth-child(1) {
    font-weight: 500;
    color: var(--black);
}


/*section-aboutme*/

.section-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    color: #9f9f9f;
    width: 33rem;
}

.section-aboutme p {
    text-justify: auto;
    margin: 2rem 0;
}


/*section-detail-portafolio*/

.section-detail-portafolio {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

.contenido-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--color-4);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white);
    margin: 0.5rem;
}

.button-close:hover {
    background-color: var(--color-3);
    cursor: pointer;
}


.album-images {
    width: 33rem;
    height: 18.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.anterior {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-4);
    border-radius: 1rem;
    z-index: 1;
    position: absolute;
    left: 0;
}

.siguiente {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-4);
    border-radius: 1rem;
    z-index: 1;
    position: absolute;
    right: 0;
}

.anterior:hover, .siguiente:hover {
    background-color: var(--color-3);
    cursor: pointer; 
}

.text-detail {
    display: flex;
    flex-direction: column;
    width: 33rem;
    color: var(--black);
    font-size: var(--md);
    margin-top: 2rem;
}

.text-detail p:nth-child(1) {
    font-size: var(--lg);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.text-detail p:nth-child(2), .text-detail p:nth-child(3) {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--color-5);
}

.text-detail p:nth-child(4) {
    font-size: var(--md);
    font-weight: 500;
    margin-top: 1rem;
    text-align: justify;
    overflow-x: auto;
    overflow-y: auto;
    height: 35rem;
    color: var(--color-5);
}




