@media (min-width: 720px) {
    
    main {
        width: 70rem;
    }

    .inactive {
        display: none;
    }
    
    /*nav bar*/
    
    .header-class{
        display: flex;
        align-items: flex-end;
        height: 8rem;
        width: 70rem;
        border-radius: 2rem;
    }
    
    .logo-header{
        width: 23rem;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: var(--lg);
        width: 46rem;
        margin-left: 1rem;
    }
    
    .category {
        height: 4rem;
        width: 10rem;
        text-align: center;
        color: var(--color-4);
    }
    
    .category:hover {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: var(--color-1);
        border: 0.1rem dotted var(--color-4);
        border-bottom: 0;
    }

    .menu-mobile{
        display: none;
    }
    
    /*Side bar left*/

    .sidebar-left {
        display: flex;
        flex-direction: row;
    }

    /*Curiosity*/
    
    .curiosity {
        width: 24rem;
        height: 21rem;
        margin-bottom: 0;
    }
    
    /*resumen curricular*/
    
    .curriculum {
        width: 45rem;
        height: 21rem;
        border-radius: 1rem;
        background-color: var(--white);
        margin-left: 1rem;
    }
    
    /*Main Content*/
    
    .container-body {
        width: 70rem;
        height: auto;
        border-radius: 1rem;
        padding: 2rem;
    }

    /* contenido home*/

    .section-home {
        width: 64rem;
    }
     
    .entrada-content, .port-content-home {
        width: 66rem;
        overflow-x: auto;
        overflow-y: auto;
        width: 66rem;
    }
/* modales*/

    .contenido-modal {
        width: 70rem;
        height: 70rem;
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 2rem;
        border-radius: 2rem;
    }

    .text-detail {
        width: 66rem;
    }

    /*seccion entradas*/

    .section-entradas {
        display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }

    .entrada-card-section{
        width: 21rem;
    }

    .content-entrada {
        overflow-x: auto;
        overflow-y: auto;
        height: 50rem;
    }

    /*seccion portafolio*/

    .section-portafolio {
        display: grid;
        place-items: center;
        width: 66rem;
    }

    .portafolio {
        width: 66rem;
    }
        
    .port-content {
            display: flex;
            justify-content: flex-start;
            width: 60rem;
            margin-left: 1rem;
            overflow-x: auto;
            overflow-y: auto;
            width: 60rem;
    }

    /*section-aboutme*/

    .section-aboutme {
            width: 66rem;
    }

    /*section-detail-portafolio*/

    .album-images {
        margin-top: 10rem;
        width: 62rem;
        height: 35rem;
    }

    /*secion juego*/

    .cards {
        width: 66rem;
        height: 20rem;
    }

    .card {
        width: 20rem;
        height: 20rem;
    }

    .card img {
        height: 17rem;
        width: 17rem;
    }

    .card:hover {
        width: 20rem;
        height: 20rem;
    }

    




}

